<div>
<h2 class="text-center">编辑讨论版</h2>
<hr>

<h4>修一修 改一改 ;   未来更美好 ^_^ </h4>
<br>
<%= form_for @group do |f| %>
Title 标题：
<%= f.text_field :title %>
<br>
Description 叙述：
<br>
<%= f.text_area :description %>
<br>

<% if @group.errors.any? %>
<ul>
  <% @group.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


<br>
<%= f.submit "Submit | 提交", :disable_with => 'Submiting...'%>
<% end %>
</div>
